# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user

src/*.o
src/*.so

# Autotools
Makefile
Makefile.in
src/Makevars
src/stamp-h1
config.*
configure
aclocal.m4
autom4te.cache/
install-sh
missing

mccbn_*.tar.gz
